.login-box {
    padding: 1.5rem;
    margin-top: 2rem;
    height: 600px;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.login-container{
width: 350px;
height: 500px;
margin: auto;
}

.btn-dark{
background-color: black; color: white;
}
.btn-dark:hover {
    background-color: #333; /* 원하는 색으로 설정 */
    border-color: #333; /* 원한다면 버튼의 테두리 색상도 변경 */
}