/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr; /* auto는 nav 높이에 맞게, 1fr는 container가 남은 공간을 차지하도록 설정 */
  height: 100vh;
}
/* 네비게이션 바 */
nav {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid lightgray; /* 테두리 두께, 종류, 색상 */
}

nav .logo {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

nav .menu {
  display: flex;
  gap: 20px;
}

nav .menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

nav .menu a:hover {
  opacity: 0.7;
}

/* 인증 버튼 공통 스타일 */
.auth-buttons div,
nav .login-button {
  font-size: 0.8rem;
  padding: 4px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.openMypageModal {
  color: black;
  background-color: lightgray;
}

.auth-buttons div:hover,
nav .mypage-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.auth-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#topLoginButton {
  width: 180px;
}

.totalLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.bottomBar {
  bottom: 0; /* 하단에 위치 */
  left: 0; /* 왼쪽 끝에 위치 */
  width: 100%; /* 전체 너비 */
  background-color: lightgray; /* 배경색 */
  padding: 30px; /* 내부 여백 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

/* AI 플래너 */

.container {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bigBox {
  width: 100%;
}

#spinner {
  margin-left: 10px;
  border: 4px solid #555; /* 어두운 회색 */
  border-top: 4px solid #777; /* 어두운 회색 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#box {
  border-radius: 8px;
  overflow-y: auto;
  height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 720px;
}

#box p {
  align-self: flex-start; /* p 태그는 왼쪽 정렬 */
}

#submitBtn {
  background-color: lightgray;
  color: black;
  border-color: black;
}

#saveBtn {
  background-color: lightgray;
  color: black;
  border-color: black;
  width: 100%;
}

#listBtn {
  background-color: lightgray;
  color: black;
  border-color: black;
  width: 100%;
}

pre {
  border-radius: 5px;
  white-space: pre-wrap; /* 줄바꿈 가능 */
  word-wrap: break-word; /* 긴 단어 잘라서 줄바꿈 */
  overflow-y: auto;
}

/* 팝업 스타일 */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 1px solid #333;
  padding: 10px;
}
.popup iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* 팝업 배경 */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#closePopupBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 닫기 버튼 */
#closePopupBtn {
  position: absolute; /* 절대 위치로 설정 */
  top: 100%; /* 팝업의 수직 중앙 */
  left: 50%; /* 팝업의 수평 중앙 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  padding: 8px 25px;
  background-color: rgb(255, 70, 70);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
